[submodule "themes/hugo-winston-theme"]
	path = themes/hugo-winston-theme
	url = https://github.com/zerostaticthemes/hugo-winston-theme.git
[submodule "themes/mehranalam-v2.0"]
	path = themes/mehranalam-v2.0
	url = https://github.com/zerostaticthemes/hugo-winston-theme.git
