.intro {
  margin-bottom: 60px;

  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 30px;

    @include breakpoint('small') {
      width: 80%;
      font-size: 88px;
      line-height: 94px;
      margin-bottom: 50px;
    }

    strong {
      color: var(--highlight-color);
    }
  }

  h2 {
    font-size: 50px;
    line-height: 56px;

    @include breakpoint('small') {
      width: 80%;
    }
  }

  p {
    font-size: 20px;
    line-height: 26px;

    @include breakpoint('small') {
      width: 80%;
      font-size: 22px;
      line-height: 32px;
    }
  }

  .read-more {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;

    @include breakpoint('small') {
      font-size: 22px;
      line-height: 32px;
    }
  }

  img {
    max-width: 100%;
  }

  // img {
  //   margin-right: -30px;
  //   width: 100vw;
  //   vertical-align: bottom;
  //   @include breakpoint('small') {
  //     margin-left: -100px;
  //     margin-right: -100px;
  //     margin-bottom: 50px;
  //     width: auto;
  //   }
  // }
}

.status {
  display: flex;
  flex-direction: column;
}

.status .unicode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.badge {
  background-color: rgb(125, 245, 245);
  color: rgb(44, 97, 97);
  border-radius: 9px;
  height: fit-content;
  font-weight: bold;
  padding: 7px;
}

.badge-Arch {
  background-color: rgb(248, 218, 44);
  color: rgb(161, 117, 34);
  border-radius: 9px;
  height: fit-content;
  font-weight: bold;
  padding: 7px;
}

.shell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shell img {
  align-self: center;
}

.description{
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .shell {
    flex-direction: column;
  }

  .description{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
}

.box-family {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-family .linkedin {
  border: 0 solid;
  background-color: rgba(232, 239, 254, .6);
  border-radius: 20px;
  height: fit-content;
  padding: 15px;
  font-family: var(--font-family-paragraph);
  font-size: small;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #28457b !important;
}

.CV-button {
  border: 0 solid;
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
  border-radius: 20px;
  height: fit-content;
  font-family: var(--font-family-paragraph);
  padding: 15px;
  font-size: small;
  font-weight: bold;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
}