{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

{{ if .Site.Params.showAuthorOnHomepage }}
{{ partial "author-large.html" . }}
{{ end }}

<div class="shell">
  <!-- TODO : subset -->
    <div class="description">
    <h1 align="center">مهران علم‌بیگی</h1>
    <p align="center">برنامه‌نویس و مهندس تجهیزات پزشکی</p>
    <div class="box-family">
      <a href="https://raw.githubusercontent.com/Mehranalam/Mehranalam/main/Mehranalambeigi-Cv.pdf"><button class="CV-button">دانلود رزومه</button></a>
      <a href="https://www.linkedin.com/in/mehranalam"><button class="linkedin">صفحه لینکدین</button></a>
    </div>
  </div>
</div>
<div align="right">
  <br>
  <h2> آخرین پست های منتشر شده </h2>
</div>



{{ if .Site.Params.showPostsOnHomepage }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{ range $paginator.Pages }}
{{ .Render "summary" }}
{{ end }}
{{ partial "paginator" . }}
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
