{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

{{ if .Site.Params.showAuthorOnHomepage }}
{{ partial "author-large.html" . }}
{{ end }}
<h2 dir="rtl">مروری بر سفسطه - حقیقت تغییر</h2>
<p dir="rtl">گذری بر مرور اتفاقات و انقلابات ایران - جست و گریخته از مطالعاتم تحت عنوان تاریخ دست خط هایی منتشر خواهم کرد. تا بماند به یادگار ...زیر هر دست خط تاریخ انتشار و سپس نام من را خواهید دید و در کنار آن لینک دانلود رزومه احتمالا ارتباطی بین تاریخ و رزومه من نباشد اما با این حال فرصت را برای آشنایی با من غنیمت شمرده‌ام احتمالا دست خط ها معطوف به تاریخ ایران نباشند بلکه احتمال این وجود دارد تا درباره انقلاب هنری اتفاقات اروپا و حتی  فلسفه نیز گذر کنیم شاید در این بین خدا را انکار و سپس اثبات کردیم و حتی زندگی را چیزی جز سرگرمی ندیدیم احتمالا نقد هایی بر کتب هایی که خوانش کردم کردیم و خلاصه‌ای از کتبی که خواندم قرار دادم هیچ جچیز قابل پیشبینی نخواهد بود در نیهایت اکثر مطالب بعد از انتشار در این بلاگ در کانال تلگرامی منتشر خواهد شد - @abit_think <br><br> پیشنهاد بر این است که دست خط ها را با یکی از موسیقی های کیهان کلهر یا آثاری از باخ بخونید</p>

<div>
  <br>
  <h2 dir="rtl">آخرین یادداشت های منتشر شده</h2>
  <br>
  <br>
</div>

{{ if .Site.Params.showPostsOnHomepage }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{ range $paginator.Pages }}
{{ .Render "summary" }}
{{ end }}
{{ partial "paginator" . }}
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
