{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

{{ if .Site.Params.showAuthorOnHomepage }}
{{ partial "author-large.html" . }}
{{ end }}
<h2 dir="rtl">مروری بر سفسطه - حقیقت تغییر</h2>
<p dir="rtl">گذری بر مرور اتفاقات و انقلابات ایران - جست و گریخته از مطالعاتم تحت عنوان تاریخ دست خط هایی منتشر خواهم کرد. تا بماند به یادگار ...زیر هر دست خط تاریخ انتشار و سپس نام من را خواهید دید و در کنار آن لینک دانلود رزومه احتمالا ارتباطی بین تاریخ و رزومه من نباشد اما با این حال فرصت را برای آشنایی با من غنیمت شمرده‌ام احتمالا دست خط ها معطوف به تاریخ ایران نباشند بلکه احتمال این وجود دارد تا درباره انقلاب هنری اتفاقات اروپا و حتی  فلسفه نیز گذر کنیم شاید در این بین خدا را انکار و سپس اثبات کردیم و حتی زندگی را چیزی جز سرگرمی ندیدیم احتمالا نقد هایی بر کتب هایی که خوانش کردم کردیم و خلاصه‌ای از کتبی که خواندم قرار دادم هیچ جچیز قابل پیشبینی نخواهد بود در نیهایت اکثر مطالب بعد از انتشار در این بلاگ در کانال تلگرامی منتشر خواهد شد - @abit_think <br><br> پیشنهاد بر این است که دست خط ها را با یکی از موسیقی های کیهان کلهر یا آثاری از باخ بخونید</p>

<div style="margin-bottem: 30px;" class="shell">
  <!-- TODO : subset -->
  <div class="card">
    <div class="img-box">
      <img src="https://th.bing.com/th/id/OIP.tUaprTLRPDOZ6qrJ8rUWkAAAAA?w=250&h=311&rs=1&pid=ImgDetMain" alt="">
    </div>
    <div class="content" dir="rtl">
      <h3>گیرشمن معتقد است كه پارسیان ابتدا در شمال غربی ایران در نزدیكی دریاچه ارومیه مستقر شدند و احتمالا “حدود ۷۰۰ قبل از میلاد آنان در محوطه غربی جبال زاگرس تا مشرق شهر شوشتر در ناحیه ای كه ایشان پارسواش یا پارسوماش (مسجد سلیمان) نامیده‌اند و این نام در سالنامه های آشوری ذكر شده اقامت گزیده‌اند.</h3>
      <p>منم کورش، شاه جهان، شاه بزرگ، شاه توانمند، شاه بابل، شاه سومر و اَکـَد، شاه چهار گوشه ی جهان. پسر کمبوجیه، شاه بزرگ، نوه ی کوروش، شاه بزرگ، نبیره ی چیش پیش، شاه بزرگ …

        آنگاه که بدون جنگ و پیکار وارد بابل شدم، همه ی مردم گام های مرا با شادمانی پذیرفتند. در بارگاه پادشاهان بابل بر تخت شهریاری نشستم. مردوک خدای بزرگ دل های پاک مردم بابل را متوجه من کرد. زیرا من او را ارجمند و گرامی داشتم.
        
        ارتش بزرگ من به صلح و آرامی وارد بابل شد. نگذاشتم رنج و آزاری به مردم این شهر و این سرزمین وارد آید. وضع داخلی بابل و جایگاه های مقدسش قلب مرا تکان داد. من برای صلح کوشیدم. من برده داری را بر انداختم، به بدبختی آنان پایان بخشیدم. فرمان دادم که همه ی مردم در پرستش خدای خود آزاد باشند و آنان را نیازارند. فرمان دادم که هیچکس اهالی شهر را از هستی ساقط نکند.
        
        مردوک خدای بزرگ از کردار من خشنود شد … او برکت و مهربانی اش را ارزانی داشت. ما همگی شادمانه و در صلح و آشتی مقام بلندش را ستودیم …</p>
      <div class="card-action">
        <div class="name-container">
           <img src="https://avatars.githubusercontent.com/u/77109284?v=4" class="avatar" alt="">
          <div class="name-box">
            <span>مهران علم‌بیگی</span>
            <small>یک روز بارانی بهمن ماه ۱۴۰۲</small>
          </div>
        </div>
        <a href="https://github.com/Mehranalam/Mehranalam/blob/main/Mehran%20Alam%20Beigi%20-%20CV.pdf"><img src="https://s2.svgbox.net/octicons.svg?ic=share" alt=""></a>
      </div>
    </div>
  </div>
</div>

<div>
  <br>
  <h2 dir="rtl">آخرین یادداشت های منتشر شده</h2>
  <br>
  <br>
</div>

{{ if .Site.Params.showPostsOnHomepage }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{ range $paginator.Pages }}
{{ .Render "summary" }}
{{ end }}
{{ partial "paginator" . }}
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
